body {
  font-family: Mulish;
  font-style: normal;
}

.title {
  font-weight: 900;
}

.name {
  font-weight: 800;
}

.details {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.35);
}

.addButton {
  width: auto;
  border: none;
  background-color: rgba(46, 210, 46, 0.836);
}

.addButton:hover {
  background-color: green;
}

button {
  padding: 20px;
  border-radius: 5px;
}

.delete-btn {
  margin-top: 10px;
  background-color: red;
  color: #fff;
  padding: 15px 40px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
