@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Pacifico&display=swap");

body {
  font-family: Mulish;
  font-style: normal;
}

element {
  overflow: hidden;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-family: "Pacifico", cursive;
  // font-weight: 900;
}

.name {
  font-weight: 800;
}

.details {
  border-radius: 0.625em;
  box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.15);
}

.addButton {
  width: auto;
  display: block;
  margin: 0 auto;
}

.formContents {
  padding: 0.125em 0.125em;
}

.formNames {
  color: black;
  font-weight: bold;
  font-family: Mulish;
  text-align: center;
  padding: 0.75em 0.625em;
  width: 100%;
  margin: 0.5em 0;
}

.formFirst {
  width: 100%;
  color: black;
  padding: 0.75em 1.25em;
  margin: 0.5em 0;
  display: inline-block;
  border: 1px solid rgb(32, 30, 30);
  border-radius: 4px;
  box-sizing: border-box;
}
